certifi
Click
Flask
gunicorn
itsdangerous
Jinja2
MarkupSafe
Werkzeug
numpy
pandas
nltk
regex
gensim
scipy
matplotlib
pandas
tpot
seaborn
cloudpickle
scikit-learn==1.0.2
joblib
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0.tar.gz
