<html>
<head>
<title>Sentiment Prediction</title>
</head>
<body>

	<h2>Drug Reommendation System</h2>

<div>
<form action="/predict" method="POST">
	<label for="condition">condition</label>
	<input type="text" id="condition" name="condition">
	<br>
	<label for="review_text">Review Text</label>
      	<textarea name="review_text" rows="10" cols="30"></textarea>>
	<br>
	<label for="year">year</label>
	<input type="text" id="year" name="year">
	<br>
	<label for="usefulcount">usefulcount</label>
	<input type="text" id="usefulcount" name="usefulcount">
	
	<br>
	<input type="submit" value="Submit">
</form>
</div>
</body>
</html>

