<html>
<head>
<title>Drug Recommendation</title>
</head>
<body>

	<h2>Drug Reommendation System</h2>

<div>
<form action="/recommend" method="POST">
    <br>
    <label for="condition">Condition</label>
    <select id="condition" name="condition">
      <option value="birth control">birth control</option>
	 <option value="depression">depression</option>
	 <option value="pain">pain</option>
	 <option value="anxiety">anxiety</option>
	 <option value="acne">acne</option>
	 <option value="bipolar disorde">bipolar disorde</option>
	 <option value="weight loss">weight loss</option>
	 <option value="insomnia">insomnia</option>
	 <option value="obesity">obesity</option>
	 <option value="adhd">adhd</option>
	 <option value="emergency contraception">emergency contraception</option>
	 <option value="vaginal yeast infection">vaginal yeast infection</option>
	 <option value="diabetes, type 2">diabetes, type 2</option>
	 <option value="high blood pressure">high blood pressure</option>
	 <option value="abnormal uterine bleeding">abnormal uterine bleeding</option>
	 <option value="smoking cessation">smoking cessation</option>
	 <option value="bowel preparation">bowel preparation</option>
	 <option value="ibromyalgia">ibromyalgia</option>
	 <option value="migraine">migraine</option>
	 <option value="anxiety and stress">anxiety and stress</option>
	 <option value="constipation">constipation</option>
	 <option value="major depressive disorde">major depressive disorde</option>
	 <option value="panic disorde">panic disorde</option>
	 <option value="chronic pain">chronic pain</option>
	 <option value="migraine prevention">migraine prevention</option>
	 <option value="urinary tract infection">urinary tract infection</option>
	 <option value="osteoarthritis">osteoarthritis</option>
	 <option value="generalized anxiety disorde">generalized anxiety disorde</option>
	 <option value="muscle spasm">muscle spasm</option>
	 <option value="erectile dysfunction">erectile dysfunction</option>
	 <option value="opiate dependence">opiate dependence</option>
	 <option value="rheumatoid arthritis">rheumatoid arthritis</option>
	 <option value="irritable bowel syndrome">irritable bowel syndrome</option>
	 <option value="cough">cough</option>
	 <option value="bacterial infection">bacterial infection</option>
	 <option value="allergic rhinitis">allergic rhinitis</option>
	 <option value="sinusitis">sinusitis</option>
	 <option value="hepatitis c">hepatitis c</option>
	 <option value="gerd">gerd</option>
	 <option value="hyperhidrosis">hyperhidrosis</option>
	 <option value="nausea/vomiting">nausea/vomiting</option>
	 <option value="multiple sclerosis">multiple sclerosis</option>
	 <option value="overactive bladde">overactive bladde</option>
	 <option value="psoriasis">psoriasis</option>
	 <option value="restless legs syndrome">restless legs syndrome</option>
	 <option value="hiv infection">hiv infection</option>
	 <option value="obsessive compulsive disorde">obsessive compulsive disorde</option>
	 <option value="high cholesterol">high cholesterol</option>
	 <option value="schizophrenia">schizophrenia</option>
	 <option value="back pain">back pain</option>
	 <option value="rosacea">rosacea</option>
	 <option value="constipation, chronic">constipation, chronic</option>
	 <option value="endometriosis">endometriosis</option>
	 <option value="headache">headache</option>
	 <option value="seizures">seizures</option>
	 <option value="bronchitis">bronchitis</option>
	 <option value="benign prostatic hyperplasia">benign prostatic hyperplasia</option>
	 <option value="narcolepsy">narcolepsy</option>
	 <option value="bacterial vaginitis">bacterial vaginitis</option>
	 <option value="asthma, maintenance">asthma, maintenance</option>
	 <option value="hypogonadism, male">hypogonadism, male</option>
	 <option value="onychomycosis, toenail">onychomycosis, toenail</option>
	 <option value="social anxiety disorde">social anxiety disorde</option>
	 <option value="herpes simplex">herpes simplex</option>
	 <option value="alcohol dependence">alcohol dependence</option>
	 <option value="underactive thyroid">underactive thyroid</option>
	 <option value="opiate withdrawal">opiate withdrawal</option>
	 <option value="bladder infection">bladder infection</option>
	 <option value="epilepsy">epilepsy</option>
	 <option value="schizoaffective disorde">schizoaffective disorde</option>
	 <option value="cough and nasal congestion">cough and nasal congestion</option>
	 <option value="cold sores">cold sores</option>
	 <option value="plaque psoriasis">plaque psoriasis</option>
	 <option value="influenza">influenza</option>
	 <option value="menstrual disorders">menstrual disorders</option>
	 <option value="psoriatic arthritis">psoriatic arthritis</option>
	 <option value="osteoporosis">osteoporosis</option>
	 <option value="post traumatic stress disorde">post traumatic stress disorde</option>
	 <option value="premenstrual dysphoric disorde">premenstrual dysphoric disorde</option>
	 <option value="polycystic ovary syndrome">polycystic ovary syndrome</option>
	 <option value="nasal congestion">nasal congestion</option>
	 <option value="inflammatory conditions">inflammatory conditions</option>
	 <option value="postmenopausal symptoms">postmenopausal symptoms</option>
	 <option value="urticaria">urticaria</option>
	 <option value="atrial fibrillation">atrial fibrillation</option>
	 <option value="pneumonia">pneumonia</option>
	 <option value="chlamydia infection">chlamydia infection</option>
	 <option value="helicobacter pylori infection">helicobacter pylori infection</option>
	 <option value="anesthesia">anesthesia</option>
	 <option value="breast cance">breast cance</option>
	 <option value="hot flashes">hot flashes</option>
	 <option value="asthma">asthma</option>
	 <option value="copd, maintenance">copd, maintenance</option>
	 <option value="constipation, drug induced">constipation, drug induced</option>
	 <option value="ulcerative colitis">ulcerative colitis</option>
	 <option value="skin or soft tissue infection">skin or soft tissue infection</option>
	 <option value="neuropathic pain">neuropathic pain</option>
	 <option value="ankylosing spondylitis">ankylosing spondylitis</option>
	 <option value="alcohol withdrawal">alcohol withdrawal</option>
	 <option value="peripheral neuropathy">peripheral neuropathy</option>
	 <option value="motion sickness">motion sickness</option>
	 <option value="mance anxiety">mance anxiety</option>
	 <option value="urinary incontinence">urinary incontinence</option>
	 <option value="seizure prevention">seizure prevention</option>
	 <option value="upper respiratory tract infection">upper respiratory tract infection</option>
	 <option value="hashimoto's disease">hashimoto's disease</option>
	 <option value="sedation">sedation</option>
	 <option value="atrophic vaginitis">atrophic vaginitis</option>
	 <option value="gout, acute">gout, acute</option>
	 <option value="allergies">allergies</option>
	 <option value="eczema">eczema</option>
	 <option value="crohn's disease, maintenance">crohn's disease, maintenance</option>
	 <option value="atopic dermatitis">atopic dermatitis</option>
	 <option value="period pain">period pain</option>
	 <option value="crohn's disease">crohn's disease</option>
	 <option value="copd">copd</option>
	 <option value="hypothyroidism, after thyroid removal">hypothyroidism, after thyroid removal</option>
	 <option value="diabetic peripheral neuropathy">diabetic peripheral neuropathy</option>
	 <option value="borderline personality disorde">borderline personality disorde</option>
	 <option value="herpes simplex, suppression">herpes simplex, suppression</option>
	 <option value="diarrhea">diarrhea</option>
	 <option value="prevention of thromboembolism in atrial fibrillation">prevention of thromboembolism in atrial fibrillation</option>
	 <option value="bacterial skin infection">bacterial skin infection</option>
	 <option value="trigeminal neuralgia">trigeminal neuralgia</option>
	 <option value="ovarian cysts">ovarian cysts</option>
	 <option value="interstitial cystitis">interstitial cystitis</option>
	 <option value="cluster headaches">cluster headaches</option>
	 <option value="otitis media">otitis media</option>
	 <option value="asthma, acute">asthma, acute</option>
	 <option value="diverticulitis">diverticulitis</option>
	 <option value="diabetes, type 1">diabetes, type 1</option>
	 <option value="prostate cance">prostate cance</option>
	 <option value="dry eye disease">dry eye disease</option>
	 <option value="ulcerative colitis, active">ulcerative colitis, active</option>
	 <option value="urinary tract stones">urinary tract stones</option>
	 <option value="cold symptoms">cold symptoms</option>
	 <option value="strep throat">strep throat</option>
	 <option value="sciatica">sciatica</option>
	 <option value="nausea/vomiting of pregnancy">nausea/vomiting of pregnancy</option>
	 <option value="parkinson's disease">parkinson's disease</option>
	 <option value="arrhythmia">arrhythmia</option>
	 <option value="dietary supplementation">dietary supplementation</option>
	 <option value="keratosis">keratosis</option>
	 <option value="amenorrhea">amenorrhea</option>
	 <option value="tonsillitis/pharyngitis">tonsillitis/pharyngitis</option>
	 <option value="gout">gout</option>
	 <option value="systemic lupus erythematosus">systemic lupus erythematosus</option>
	 <option value="neuralgia">neuralgia</option>
	 <option value="chronic myelogenous leukemia">chronic myelogenous leukemia</option>
	 <option value="human papilloma virus">human papilloma virus</option>
	 <option value="hemorrhoids">hemorrhoids</option>
	 <option value="vertig">vertig</option>
	 <option value="kidney infections">kidney infections</option>
	 <option value="allergic reactions">allergic reactions</option>
	 <option value="angina">angina</option>
	 <option value="vitamin/mineral supplementation during pregnancy/lactation">vitamin/mineral supplementation during pregnancy/lactation</option>
	 <option value="supraventricular tachycardia">supraventricular tachycardia</option>
	 <option value="postpartum depression">postpartum depression</option>
	 <option value="deep vein thrombosis">deep vein thrombosis</option>
	 <option value="renal cell carcinoma">renal cell carcinoma</option>
	 <option value="postherpetic neuralgia">postherpetic neuralgia</option>
	 <option value="autism">autism</option>
	 <option value="dental abscess">dental abscess</option>
	 <option value="prostatitis">prostatitis</option>
	 <option value="moterol)">moterol)</option>
	 <option value="edema">edema</option>
	 <option value="alopecia">alopecia</option>
	 <option value="premature lab">premature lab</option>
	 <option value="benign essential trem">benign essential trem</option>
	 <option value="muscle pain">muscle pain</option>
	 <option value="melasma">melasma</option>
	 <option value="dry skin">dry skin</option>
	 <option value="alzheimer's disease">alzheimer's disease</option>
	 <option value="non-small cell lung cance">non-small cell lung cance</option>
	 <option value="hirsutism">hirsutism</option>
	 <option value="hypertriglyceridemia">hypertriglyceridemia</option>
	 <option value="obstructive sleep apnea/hypopnea syndrome">obstructive sleep apnea/hypopnea syndrome</option>
	 <option value="breast cancer, metastatic">breast cancer, metastatic</option>
	 <option value="anorexia">anorexia</option>
	 <option value="dermatitis">dermatitis</option>
	 <option value="high cholesterol, familial heterozygous">high cholesterol, familial heterozygous</option>
	 <option value="heart failure">heart failure</option>
	 <option value="chronic fatigue syndrome">chronic fatigue syndrome</option>
	 <option value="organ transplant, rejection prophylaxis">organ transplant, rejection prophylaxis</option>
	 <option value="seasonal allergic conjunctivitis">seasonal allergic conjunctivitis</option>
	 <option value="barrett's esophagus">barrett's esophagus</option>
	 <option value="dysuria">dysuria</option>
	 <option value="pulmonary embolism">pulmonary embolism</option>
	 <option value="conjunctivitis, allergic">conjunctivitis, allergic</option>
	 <option value="psychosis">psychosis</option>
	 <option value="chronic idiopathic constipation">chronic idiopathic constipation</option>
	 <option value="binge eating disorde">binge eating disorde</option>
	 <option value="head lice">head lice</option>
	 <option value="sinus symptoms">sinus symptoms</option>
	 <option value="erosive esophagitis">erosive esophagitis</option>
	 <option value="pulmonary hypertension">pulmonary hypertension</option>
	 <option value="prevention of bladder infection">prevention of bladder infection</option>
	 <option value="atigue">atigue</option>
	 <option value="rhinitis">rhinitis</option>
	 <option value="tourette's syndrome">tourette's syndrome</option>
	 <option value="hypersomnia">hypersomnia</option>
	 <option value="emale infertility">emale infertility</option>
	 <option value="acute coronary syndrome">acute coronary syndrome</option>
	 <option value="sexual dysfunction, ssri induced">sexual dysfunction, ssri induced</option>
	 <option value="hyperprolactinemia">hyperprolactinemia</option>
	 <option value="light sedation">light sedation</option>
	 <option value="pseudotumor cerebri">pseudotumor cerebri</option>
	 <option value="myasthenia gravis">myasthenia gravis</option>
	 <option value="diarrhea, chronic">diarrhea, chronic</option>
	 <option value="keratoconjunctivitis sicca">keratoconjunctivitis sicca</option>
	 <option value="glaucoma, open angle">glaucoma, open angle</option>
	 <option value="menorrhagia">menorrhagia</option>
	 <option value="basal cell carcinoma">basal cell carcinoma</option>
	 <option value="stomach ulce">stomach ulce</option>
	 <option value="postoperative pain">postoperative pain</option>
	 <option value="constipation, acute">constipation, acute</option>
	 <option value="bulimia">bulimia</option>
	 <option value="periodic limb movement disorde">periodic limb movement disorde</option>
	 <option value="skin and structure infection">skin and structure infection</option>
	 <option value="nausea/vomiting, chemotherapy induced">nausea/vomiting, chemotherapy induced</option>
	 <option value="uterine fibroids">uterine fibroids</option>
	 <option value="heart attack">heart attack</option>
	 <option value="perimenopausal symptoms">perimenopausal symptoms</option>
	 <option value="shift work sleep disorde">shift work sleep disorde</option>
	 <option value="reflex sympathetic dystrophy syndrome">reflex sympathetic dystrophy syndrome</option>
	 <option value="sjogren's syndrome">sjogren's syndrome</option>
	 <option value="tendonitis">tendonitis</option>
	 <option value="conjunctivitis, bacterial">conjunctivitis, bacterial</option>
	 <option value="indigestion">indigestion</option>
	 <option value="human papillomavirus prophylaxis">human papillomavirus prophylaxis</option>
	 <option value="trichomoniasis">trichomoniasis</option>
	 <option value="cervical dystonia">cervical dystonia</option>
	 <option value="burns, external">burns, external</option>
	 <option value="gastroenteritis">gastroenteritis</option>
	 <option value="pruritus">pruritus</option>
	 <option value="mania">mania</option>
	 <option value="ulcerative colitis, maintenance">ulcerative colitis, maintenance</option>
	 <option value="glaucoma">glaucoma</option>
	 <option value="malaria prevention">malaria prevention</option>
	 <option value="primary immunodeficiency syndrome">primary immunodeficiency syndrome</option>
	 <option value="duodenal ulce">duodenal ulce</option>
	 <option value="condylomata acuminata">condylomata acuminata</option>
	 <option value="opioid-induced constipation">opioid-induced constipation</option>
	 <option value="androgenetic alopecia">androgenetic alopecia</option>
	 <option value="min)">min)</option>
	 <option value="vulvodynia">vulvodynia</option>
	 <option value="raynaud's syndrome">raynaud's syndrome</option>
	 <option value="extrapyramidal reaction">extrapyramidal reaction</option>
	 <option value="iron deficiency anemia">iron deficiency anemia</option>
	 <option value="lyme disease">lyme disease</option>
	 <option value="juvenile rheumatoid arthritis">juvenile rheumatoid arthritis</option>
	 <option value="oophorectomy">oophorectomy</option>
	 <option value="mitral valve prolapse">mitral valve prolapse</option>
	 <option value="gouty arthritis">gouty arthritis</option>
	 <option value="eye redness">eye redness</option>
	 <option value="ge (amlodipine / valsartan)">ge (amlodipine / valsartan)</option>
	 <option value="postural orthostatic tachycardia syndrome">postural orthostatic tachycardia syndrome</option>
	 <option value="neutropenia associated with chemotherapy">neutropenia associated with chemotherapy</option>
	 <option value="eye redness/itching">eye redness/itching</option>
	 <option value="temporomandibular joint disorde">temporomandibular joint disorde</option>
	 <option value="herbal supplementation">herbal supplementation</option>
	 <option value="paranoid disorde">paranoid disorde</option>
	 <option value="otitis externa">otitis externa</option>
	 <option value="herpes zoste">herpes zoste</option>
	 <option value="tinnitus">tinnitus</option>
	 <option value="crohn's disease, acute">crohn's disease, acute</option>
	 <option value="nocturnal leg cramps">nocturnal leg cramps</option>
	 <option value="agitated state">agitated state</option>
	 <option value="dermatological disorders">dermatological disorders</option>
	 <option value="night terrors">night terrors</option>
	 <option value="gastroparesis">gastroparesis</option>
	 <option value="atrial flutte">atrial flutte</option>
	 <option value="insulin resistance syndrome">insulin resistance syndrome</option>
	 <option value="clostridial infection">clostridial infection</option>
	 <option value="anemia">anemia</option>
	 <option value="tinea corporis">tinea corporis</option>
	 <option value="ventricular tachycardia">ventricular tachycardia</option>
	 <option value="dysautonomia">dysautonomia</option>
	 <option value="ischemic stroke, prophylaxis">ischemic stroke, prophylaxis</option>
	 <option value="bone infection">bone infection</option>
	 <option value="chronic lymphocytic leukemia">chronic lymphocytic leukemia</option>
	 <option value="actinic keratosis">actinic keratosis</option>
	 <option value="swine flu">swine flu</option>
	 <option value="hypoestrogenism">hypoestrogenism</option>
	 <option value="breast cancer, adjuvant">breast cancer, adjuvant</option>
	 <option value="vitamin/mineral supplementation and deficiency">vitamin/mineral supplementation and deficiency</option>
	 <option value="min / sitagliptin)">min / sitagliptin)</option>
	 <option value="tinea versicol">tinea versicol</option>
	 <option value="diagnosis and investigation">diagnosis and investigation</option>
	 <option value="moterol / mometasone)">moterol / mometasone)</option>
	 <option value="lennox-gastaut syndrome">lennox-gastaut syndrome</option>
	 <option value="allergic urticaria">allergic urticaria</option>
	 <option value="acial wrinkles">acial wrinkles</option>
	 <option value="colorectal cance">colorectal cance</option>
	 <option value="agitation">agitation</option>
	 <option value="osteolytic bone metastases of solid tumors">osteolytic bone metastases of solid tumors</option>
	 <option value="chronic pancreatitis">chronic pancreatitis</option>
	 <option value="ovulation induction">ovulation induction</option>
	 <option value="nightmares">nightmares</option>
	 <option value="cyclic vomiting syndrome">cyclic vomiting syndrome</option>
	 <option value="postoperative ocular inflammation">postoperative ocular inflammation</option>
	 <option value="light anesthesia">light anesthesia</option>
	 <option value="lyme disease, neurologic">lyme disease, neurologic</option>
	 <option value="non-hodgkin's lymphoma">non-hodgkin's lymphoma</option>
	 <option value="myelodysplastic syndrome">myelodysplastic syndrome</option>
	 <option value="influenza prophylaxis">influenza prophylaxis</option>
	 <option value="soft tissue sarcoma">soft tissue sarcoma</option>
	 <option value="uveitis">uveitis</option>
	 <option value="breakthrough pain">breakthrough pain</option>
	 <option value="nausea/vomiting, postoperative">nausea/vomiting, postoperative</option>
	 <option value="multiple myeloma">multiple myeloma</option>
	 <option value="min / saxagliptin)">min / saxagliptin)</option>
	 <option value="cystic fibrosis">cystic fibrosis</option>
	 <option value="diabetes insipidus">diabetes insipidus</option>
	 <option value="seborrheic dermatitis">seborrheic dermatitis</option>
	 <option value="photoaging of the skin">photoaging of the skin</option>
	 <option value="insomnia, stimulant-associated">insomnia, stimulant-associated</option>
	 <option value="methicillin-resistant staphylococcus aureus infection">methicillin-resistant staphylococcus aureus infection</option>
	 <option value="pharyngitis">pharyngitis</option>
	 <option value="hyperphosphatemia of renal failure">hyperphosphatemia of renal failure</option>
	 <option value="juvenile idiopathic arthritis">juvenile idiopathic arthritis</option>
	 <option value="onychomycosis, fingernail">onychomycosis, fingernail</option>
	 <option value="hepatic encephalopathy">hepatic encephalopathy</option>
	 <option value="conjunctivitis">conjunctivitis</option>
	 <option value="precocious puberty">precocious puberty</option>
	 <option value="hiccups">hiccups</option>
	 <option value="high cholesterol, familial homozygous">high cholesterol, familial homozygous</option>
	 <option value="prevention of osteoporosis">prevention of osteoporosis</option>
	 <option value="hereditary angioedema">hereditary angioedema</option>
	 <option value="pneumococcal disease prophylaxis">pneumococcal disease prophylaxis</option>
	 <option value="progesterone insufficiency">progesterone insufficiency</option>
	 <option value="eve">eve</option>
	 <option value="diabetic kidney disease">diabetic kidney disease</option>
	 <option value="gas">gas</option>
	 <option value="xerostomia">xerostomia</option>
	 <option value="chronic spasticity">chronic spasticity</option>
	 <option value="ovarian cance">ovarian cance</option>
	 <option value="oral thrush">oral thrush</option>
	 <option value="pancreatic cance">pancreatic cance</option>
	 <option value="lichen planus">lichen planus</option>
	 <option value="benzodiazepine withdrawal">benzodiazepine withdrawal</option>
	 <option value="persistent depressive disorde">persistent depressive disorde</option>
	 <option value="labor induction">labor induction</option>
	 <option value="hepatitis b">hepatitis b</option>
	 <option value="angina pectoris prophylaxis">angina pectoris prophylaxis</option>
	 <option value="copd, acute">copd, acute</option>
	 <option value="undifferentiated connective tissue disease">undifferentiated connective tissue disease</option>
	 <option value="thyroid cance">thyroid cance</option>
	 <option value="diabetic macular edema">diabetic macular edema</option>
	 <option value="seasonal affective disorde">seasonal affective disorde</option>
	 <option value="vitamin d deficiency">vitamin d deficiency</option>
	 <option value="hyperlipoproteinemia">hyperlipoproteinemia</option>
	 <option value="behcet's disease">behcet's disease</option>
	 <option value="ulcerative proctitis">ulcerative proctitis</option>
	 <option value="meniere's disease">meniere's disease</option>
	 <option value="giardiasis">giardiasis</option>
	 <option value="spondylolisthesis">spondylolisthesis</option>
	 <option value="cutaneous candidiasis">cutaneous candidiasis</option>
	 <option value="lichen sclerosus">lichen sclerosus</option>
	 <option value="macular degeneration">macular degeneration</option>
	 <option value="deep vein thrombosis, prophylaxis">deep vein thrombosis, prophylaxis</option>
	 <option value="herpes simplex, mucocutaneous/immunocompetent host">herpes simplex, mucocutaneous/immunocompetent host</option>
	 <option value="tuberculosis, latent">tuberculosis, latent</option>
	 <option value="tinea cruris">tinea cruris</option>
	 <option value="adrenocortical insufficiency">adrenocortical insufficiency</option>
	 <option value="lactose intolerance">lactose intolerance</option>
	 <option value="intraocular hypertension">intraocular hypertension</option>
	 <option value="melanoma, metastatic">melanoma, metastatic</option>
	 <option value="traveler's diarrhea">traveler's diarrhea</option>
	 <option value="primary ovarian failure">primary ovarian failure</option>
	 <option value="tinea pedis">tinea pedis</option>
	 <option value="trichotillomania">trichotillomania</option>
	 <option value="intraabdominal infection">intraabdominal infection</option>
	 <option value="pseudobulbar affect">pseudobulbar affect</option>
	 <option value="inflammatory bowel disease">inflammatory bowel disease</option>
	 <option value="hypertensive emergency">hypertensive emergency</option>
	 <option value="polycythemia vera">polycythemia vera</option>
	 <option value="expectoration">expectoration</option>
	 <option value="computed tomography">computed tomography</option>
	 <option value="pinworm infection (enterobius vermicularis)">pinworm infection (enterobius vermicularis)</option>
	 <option value="diaper rash">diaper rash</option>
	 <option value="zen shoulde">zen shoulde</option>
	 <option value="atrophic urethritis">atrophic urethritis</option>
	 <option value="biliary cirrhosis">biliary cirrhosis</option>
	 <option value="chronic myofascial pain">chronic myofascial pain</option>
	 <option value="endometrial hyperplasia">endometrial hyperplasia</option>
	 <option value="vitamin b12 deficiency">vitamin b12 deficiency</option>
	 <option value="dystonia">dystonia</option>
	 <option value="menopausal disorders">menopausal disorders</option>
	 <option value="hypoactive sexual desire disorde">hypoactive sexual desire disorde</option>
	 <option value="addison's disease">addison's disease</option>
	 <option value="secondary hyperparathyroidism">secondary hyperparathyroidism</option>
	 <option value="prevention of dental caries">prevention of dental caries</option>
	 <option value="head and neck cance">head and neck cance</option>
	 <option value="asperger syndrome">asperger syndrome</option>
	 <option value="labor pain">labor pain</option>
	 <option value="dyspareunia">dyspareunia</option>
	 <option value="pelvic inflammatory disease">pelvic inflammatory disease</option>
	 <option value="hepatocellular carcinoma">hepatocellular carcinoma</option>
	 <option value="autoimmune hepatitis">autoimmune hepatitis</option>
	 <option value="surgical prophylaxis">surgical prophylaxis</option>
	 <option value="skin rash">skin rash</option>
	 <option value="new daily persistent headache">new daily persistent headache</option>
	 <option value="pain/feve">pain/feve</option>
	 <option value="gastrointestinal decontamination">gastrointestinal decontamination</option>
	 <option value="perioral dermatitis">perioral dermatitis</option>
	 <option value="von willebrand's disease">von willebrand's disease</option>
	 <option value="cmv prophylaxis">cmv prophylaxis</option>
	 <option value="peripheral arterial disease">peripheral arterial disease</option>
	 <option value="enterocolitis">enterocolitis</option>
	 <option value="malaria">malaria</option>
	 <option value="costochondritis">costochondritis</option>
	 <option value="opioid overdose">opioid overdose</option>
	 <option value="burning mouth syndrome">burning mouth syndrome</option>
	 <option value="opiate adjunct">opiate adjunct</option>
	 <option value="premenstrual syndrome">premenstrual syndrome</option>
	 <option value="immunosuppression">immunosuppression</option>
	 <option value="dumping syndrome">dumping syndrome</option>
	 <option value="mucositis">mucositis</option>
	 <option value="left ventricular dysfunction">left ventricular dysfunction</option>
	 <option value="nasal polyps">nasal polyps</option>
	 <option value="streptococcal infection">streptococcal infection</option>
	 <option value="bacterial endocarditis prevention">bacterial endocarditis prevention</option>
	 <option value="prevention of hypokalemia">prevention of hypokalemia</option>
	 <option value="atherosclerosis">atherosclerosis</option>
	 <option value="deep vein thrombosis, first event">deep vein thrombosis, first event</option>
	 <option value="ascariasis">ascariasis</option>
	 <option value="mis">mis</option>
	 <option value="performance anxiety">performance anxiety</option>
	 <option value="dandruff">dandruff</option>
	 <option value="turner's syndrome">turner's syndrome</option>
	 <option value="status epilepticus">status epilepticus</option>
	 <option value="wegener's granulomatosis">wegener's granulomatosis</option>
	 <option value="peptic ulce">peptic ulce</option>
	 <option value="skin cance">skin cance</option>
	 <option value="local anesthesia">local anesthesia</option>
	 <option value="bronchiectasis">bronchiectasis</option>
	 <option value="pancreatic exocrine dysfunction">pancreatic exocrine dysfunction</option>
	 <option value="bronchospasm prophylaxis">bronchospasm prophylaxis</option>
	 <option value="sarcoidosis">sarcoidosis</option>
	 <option value="pediatric growth hormone deficiency">pediatric growth hormone deficiency</option>
	 <option value="eosinophilic esophagitis">eosinophilic esophagitis</option>
	 <option value="post-cholecystectomy diarrhea">post-cholecystectomy diarrhea</option>
	 <option value="nasal carriage of staphylococcus aureus">nasal carriage of staphylococcus aureus</option>
	 <option value="lactation augmentation">lactation augmentation</option>
	 <option value="hypoparathyroidism">hypoparathyroidism</option>
	 <option value="aphthous ulce">aphthous ulce</option>
	 <option value="alpha-1 proteinase inhibitor deficiency">alpha-1 proteinase inhibitor deficiency</option>
	 <option value="dietary fiber supplementation">dietary fiber supplementation</option>
	 <option value="hyperlipoproteinemia type iia, elevated ldl">hyperlipoproteinemia type iia, elevated ldl</option>
	 <option value="candida urinary tract infection">candida urinary tract infection</option>
	 <option value="adult human growth hormone deficiency">adult human growth hormone deficiency</option>
	 <option value="spondyloarthritis">spondyloarthritis</option>
	 <option value="candidemia">candidemia</option>
	 <option value="nonoccupational exposure">nonoccupational exposure</option>
	 <option value="periodontitis">periodontitis</option>
	 <option value="siadh">siadh</option>
	 <option value="breast cancer, prevention">breast cancer, prevention</option>
	 <option value="cerebral spasticity">cerebral spasticity</option>
	 <option value="diarrhea, acute">diarrhea, acute</option>
	 <option value="hypotension">hypotension</option>
	 <option value="thrombocythemia">thrombocythemia</option>
	 <option value="iritis">iritis</option>
	 <option value="ophthalmic surgery">ophthalmic surgery</option>
	 <option value="brain tum">brain tum</option>
	 <option value="rhinorrhea">rhinorrhea</option>
	 <option value="dermatologic lesion">dermatologic lesion</option>
	 <option value="gastrointestinal stromal tum">gastrointestinal stromal tum</option>
	 <option value="hyperkalemia">hyperkalemia</option>
	 <option value="idiopathic thrombocytopenic purpura">idiopathic thrombocytopenic purpura</option>
	 <option value="anal fissure and fistula">anal fissure and fistula</option>
	 <option value="bullous pemphigoid">bullous pemphigoid</option>
	 <option value="auditory processing disorde">auditory processing disorde</option>
	 <option value="deep vein thrombosis prophylaxis after hip replacement surgery">deep vein thrombosis prophylaxis after hip replacement surgery</option>
	 <option value="systemic mastocytosis">systemic mastocytosis</option>
	 <option value="tsh suppression">tsh suppression</option>
	 <option value="hyperekplexia">hyperekplexia</option>
	 <option value="m pain disorde">m pain disorde</option>
	 <option value="myxedema coma">myxedema coma</option>
	 <option value="cardiovascular risk reduction">cardiovascular risk reduction</option>
	 <option value="deep vein thrombosis, recurrent event">deep vein thrombosis, recurrent event</option>
	 <option value="ischemic stroke">ischemic stroke</option>
	 <option value="lyme disease, arthritis">lyme disease, arthritis</option>
	 <option value="anemia, chemotherapy induced">anemia, chemotherapy induced</option>
	 <option value="thromboembolic stroke prophylaxis">thromboembolic stroke prophylaxis</option>
	 <option value="croup">croup</option>
	 <option value="lic acid deficiency">lic acid deficiency</option>
	 <option value="dermatomyositis">dermatomyositis</option>
	 <option value="meningitis">meningitis</option>
	 <option value="scabies">scabies</option>
	 <option value="ventricular arrhythmia">ventricular arrhythmia</option>
	 <option value="reversal of opioid sedation">reversal of opioid sedation</option>
	 <option value="acute promyelocytic leukemia">acute promyelocytic leukemia</option>
	 <option value="melanoma">melanoma</option>
	 <option value="bleeding disorde">bleeding disorde</option>
	 <option value="percutaneous coronary intervention">percutaneous coronary intervention</option>
	 <option value="pertussis">pertussis</option>
	 <option value="platelet aggregation inhibition">platelet aggregation inhibition</option>
	 <option value="women (oxybutynin)">women (oxybutynin)</option>
	 <option value="t care">t care</option>
	 <option value="aids related wasting">aids related wasting</option>
	 <option value="pulmonary embolism, first event">pulmonary embolism, first event</option>
	 <option value="still's disease">still's disease</option>
	 <option value="renal tubular acidosis">renal tubular acidosis</option>
	 <option value="glioblastoma multiforme">glioblastoma multiforme</option>
	 <option value="nephrocalcinosis">nephrocalcinosis</option>
	 <option value="cachexia">cachexia</option>
	 <option value="blepharitis">blepharitis</option>
	 <option value="stress ulcer prophylaxis">stress ulcer prophylaxis</option>
	 <option value="pseudomembranous colitis">pseudomembranous colitis</option>
	 <option value="actor ix deficiency">actor ix deficiency</option>
	 <option value="lipodystrophy">lipodystrophy</option>
	 <option value="eyelash hypotrichosis">eyelash hypotrichosis</option>
	 <option value="endometrial cance">endometrial cance</option>
	 <option value="gout, prophylaxis">gout, prophylaxis</option>
	 <option value="lymphocytic colitis">lymphocytic colitis</option>
	 <option value="skin disinfection, preoperative">skin disinfection, preoperative</option>
	 <option value="bursitis">bursitis</option>
	 <option value="dissociative identity disorde">dissociative identity disorde</option>
	 <option value="glioblastoma multi">glioblastoma multi</option>
	 <option value="paroxysmal supraventricular tachycardia">paroxysmal supraventricular tachycardia</option>
	 <option value="tetanus">tetanus</option>
	 <option value="occipital neuralgia">occipital neuralgia</option>
	 <option value="dermatophytosis">dermatophytosis</option>
	 <option value="gingivitis">gingivitis</option>
	 <option value="pulmonary embolism, recurrent event">pulmonary embolism, recurrent event</option>
	 <option value="gastric ulcer maintenance treatment">gastric ulcer maintenance treatment</option>
	 <option value="oligospermia">oligospermia</option>
	 <option value="body dysmorphic disorde">body dysmorphic disorde</option>
	 <option value="babesiosis">babesiosis</option>
	 <option value="hyperparathyroidism secondary to renal impairment">hyperparathyroidism secondary to renal impairment</option>
	 <option value="porphyria">porphyria</option>
	 <option value="intermittent claudication">intermittent claudication</option>
	 <option value="b12 nutritional deficiency">b12 nutritional deficiency</option>
	 <option value="histoplasmosis">histoplasmosis</option>
	 <option value="mountain sickness / altitude sickness">mountain sickness / altitude sickness</option>
	 <option value="prevention of cardiovascular disease">prevention of cardiovascular disease</option>
	 <option value="infection prophylaxis">infection prophylaxis</option>
	 <option value="mild cognitive impairment">mild cognitive impairment</option>
	 <option value="ear wax impaction">ear wax impaction</option>
	 <option value="impetig">impetig</option>
	 <option value="noninfectious colitis">noninfectious colitis</option>
	 <option value="anemia associated with chronic renal failure">anemia associated with chronic renal failure</option>
	 <option value="parkinsonism">parkinsonism</option>
	 <option value="hemophilia b">hemophilia b</option>
	 <option value="peripheral t-cell lymphoma">peripheral t-cell lymphoma</option>
	 <option value="min / pioglitazone)">min / pioglitazone)</option>
	 <option value="hyperlipoproteinemia type iii, elevated beta-vldl   idl">hyperlipoproteinemia type iii, elevated beta-vldl   idl</option>
	 <option value="joint infection">joint infection</option>
	 <option value="radionuclide myocardial perfusion study">radionuclide myocardial perfusion study</option>
	 <option value="peritonitis">peritonitis</option>
	 <option value="premature ventricular depolarizations">premature ventricular depolarizations</option>
	 <option value="herpes zoster, prophylaxis">herpes zoster, prophylaxis</option>
	 <option value="body imaging">body imaging</option>
	 <option value="ventricular fibrillation">ventricular fibrillation</option>
	 <option value="patent ductus arteriosus">patent ductus arteriosus</option>
	 <option value="cal segmental glomerulosclerosis">cal segmental glomerulosclerosis</option>
	 <option value="deep neck infection">deep neck infection</option>
	 <option value="coronary artery disease">coronary artery disease</option>
	 <option value="prevention of atherothrombotic events">prevention of atherothrombotic events</option>
	 <option value="dermatitis herpetiformis">dermatitis herpetiformis</option>
	 <option value="meningococcal meningitis prophylaxis">meningococcal meningitis prophylaxis</option>
	 <option value="dercum's disease">dercum's disease</option>
	 <option value="anemia, sickle cell">anemia, sickle cell</option>
	 <option value="oppositional defiant disorde">oppositional defiant disorde</option>
	 <option value="pe">pe</option>
	 <option value="gallbladder disease">gallbladder disease</option>
	 <option value="anaplastic astrocytoma">anaplastic astrocytoma</option>
	 <option value="acute otitis externa">acute otitis externa</option>
	 <option value="lewy body dementia">lewy body dementia</option>
	 <option value="leukemia">leukemia</option>
	 <option value="nephrotic syndrome">nephrotic syndrome</option>
	 <option value="angioedema">angioedema</option>
	 <option value="wolff-parkinson-white syndrome">wolff-parkinson-white syndrome</option>
	 <option value="hypokalemic periodic paralysis">hypokalemic periodic paralysis</option>
	 <option value="mononucleosis">mononucleosis</option>
	 <option value="transient ischemic attack">transient ischemic attack</option>
	 <option value="nsaid-induced gastric ulce">nsaid-induced gastric ulce</option>
	 <option value="chronic eosinophilic leukemia">chronic eosinophilic leukemia</option>
	 <option value="tinea capitis">tinea capitis</option>
	 <option value="herpes simplex, mucocutaneous/immunocompromised host">herpes simplex, mucocutaneous/immunocompromised host</option>
	 <option value="myotonia congenita">myotonia congenita</option>
	 <option value="keratitis">keratitis</option>
	 <option value="nausea (phosphorated carbohydrate solution)">nausea (phosphorated carbohydrate solution)</option>
	 <option value="warts">warts</option>
	 <option value="tic (mycophenolic acid)">tic (mycophenolic acid)</option>
	 <option value="amilial mediterranean feve">amilial mediterranean feve</option>
	 <option value="mulation) (phenylephrine)">mulation) (phenylephrine)</option>
	 <option value="acute lymphoblastic leukemia">acute lymphoblastic leukemia</option>
	 <option value="prosthetic heart valves, mechanical valves - thrombosis prophylaxis">prosthetic heart valves, mechanical valves - thrombosis prophylaxis</option>
	 <option value="ichthyosis">ichthyosis</option>
	 <option value="paget's disease">paget's disease</option>
	 <option value="premature ejaculation">premature ejaculation</option>
	 <option value="hepatitis b prevention">hepatitis b prevention</option>
	 <option value="systemic sclerosis">systemic sclerosis</option>
	 <option value="syringomyelia">syringomyelia</option>
	 <option value="topical disinfection">topical disinfection</option>
	 <option value="pre-exposure prophylaxis">pre-exposure prophylaxis</option>
	 <option value="pudendal neuralgia">pudendal neuralgia</option>
	 <option value="postoperative increased intraocular pressure">postoperative increased intraocular pressure</option>
	 <option value="anesthetic adjunct">anesthetic adjunct</option>
	 <option value="gaucher disease">gaucher disease</option>
	 <option value="pseudogout, prophylaxis">pseudogout, prophylaxis</option>
	 <option value="mycoplasma pneumonia">mycoplasma pneumonia</option>
	 <option value="yellow fever prophylaxis">yellow fever prophylaxis</option>
	 <option value="breast cancer, palliative">breast cancer, palliative</option>
	 <option value="reiter's syndrome">reiter's syndrome</option>
	 <option value="scleroderma">scleroderma</option>
	 <option value="gastric cance">gastric cance</option>
	 <option value="sore throat">sore throat</option>
	 <option value="schilling test">schilling test</option>
	 <option value="std prophylaxis">std prophylaxis</option>
	 <option value="salivary gland cance">salivary gland cance</option>
	 <option value="primary hyperaldosteronism diagnosis">primary hyperaldosteronism diagnosis</option>
	 <option value="nsaid-induced ulcer prophylaxis">nsaid-induced ulcer prophylaxis</option>
	 <option value="tic disorde">tic disorde</option>
	 <option value="stomach cance">stomach cance</option>
	 <option value="euvolemic hyponatremia">euvolemic hyponatremia</option>
	 <option value="head injury">head injury</option>
	 <option value="pertussis prophylaxis">pertussis prophylaxis</option>
	 <option value="intermittent explosive disorde">intermittent explosive disorde</option>
	 <option value="tinea barbae">tinea barbae</option>
	 <option value="cns magnetic resonance imaging">cns magnetic resonance imaging</option>
	 <option value="epididymitis, sexually transmitted">epididymitis, sexually transmitted</option>
	 <option value="pupillary dilation">pupillary dilation</option>
	 <option value="klinefelter syndrome">klinefelter syndrome</option>
	 <option value="macular edema">macular edema</option>
	 <option value="myeloproliferative disorders">myeloproliferative disorders</option>
	 <option value="neuritis">neuritis</option>
	 <option value="esophageal variceal hemorrhage prophylaxis">esophageal variceal hemorrhage prophylaxis</option>
	 <option value="min / rosiglitazone)">min / rosiglitazone)</option>
	 <option value="hypercalcemia of malignancy">hypercalcemia of malignancy</option>
	 <option value="cataplexy">cataplexy</option>
	 <option value="gastritis/duodenitis">gastritis/duodenitis</option>
	 <option value="schistosoma japonicum">schistosoma japonicum</option>
	 <option value="mist (">mist (</option>
	 <option value="cance">cance</option>
	 <option value="anaphylaxis">anaphylaxis</option>
	 <option value="hypodermoclysis">hypodermoclysis</option>
	 <option value="ge hct (amlodipine / hydrochlorothiazide / valsartan)">ge hct (amlodipine / hydrochlorothiazide / valsartan)</option>
	 <option value="liver magnetic resonance imaging">liver magnetic resonance imaging</option>
	 <option value="llicle stimulation">llicle stimulation</option>
	 <option value="meningitis, meningococcal">meningitis, meningococcal</option>
	 <option value="hemorrhoids (pramoxine / zinc oxide)">hemorrhoids (pramoxine / zinc oxide)</option>
	 <option value="dupuytren's contracture">dupuytren's contracture</option>
	 <option value="strongyloidiasis">strongyloidiasis</option>
	 <option value="occupational exposure">occupational exposure</option>
	 <option value="neutropenia">neutropenia</option>
	 <option value="secondary cutaneous bacterial infections">secondary cutaneous bacterial infections</option>
	 <option value="autoimmune hemolytic anemia">autoimmune hemolytic anemia</option>
	 <option value="sleep paralysis">sleep paralysis</option>
	 <option value="submental fullness">submental fullness</option>
	 <option value="gastrointestinal hemorrhage">gastrointestinal hemorrhage</option>
	 <option value="uterine bleeding">uterine bleeding</option>
	 <option value="anti nmda receptor encephalitis">anti nmda receptor encephalitis</option>
	 <option value="me">me</option>
	 <option value="dementia">dementia</option>
	 <option value="cyclothymic disorde">cyclothymic disorde</option>
	 <option value="mixed connective tissue disease">mixed connective tissue disease</option>
	 <option value="aggressive behavi">aggressive behavi</option>
	 <option value="polymyositis/dermatomyositis">polymyositis/dermatomyositis</option>
	 <option value="ectopic pregnancy">ectopic pregnancy</option>
	 <option value="varicose veins">varicose veins</option>
	 <option value="hypomagnesemia">hypomagnesemia</option>
	 <option value="ailure to thrive">ailure to thrive</option>
	 <option value="hyperlipoproteinemia type iv, elevated vldl">hyperlipoproteinemia type iv, elevated vldl</option>
	 <option value="rejection prophylaxis">rejection prophylaxis</option>
	 <option value="gender dysphoria">gender dysphoria</option>
	 <option value="icu agitation">icu agitation</option>
	 <option value="anaplastic oligodendroglioma">anaplastic oligodendroglioma</option>
	 <option value="small fiber neuropathy">small fiber neuropathy</option>
	 <option value="organ transplant, rejection reversal">organ transplant, rejection reversal</option>
	 <option value="salmonella gastroenteritis">salmonella gastroenteritis</option>
	 <option value="hyperphosphatemia">hyperphosphatemia</option>
	 <option value="portal hypertension">portal hypertension</option>
	 <option value="nausea/vomiting, radiation induced">nausea/vomiting, radiation induced</option>
	 <option value="legionella pneumonia">legionella pneumonia</option>
	 <option value="ehrlichiosis">ehrlichiosis</option>
	 <option value="muscle twitching">muscle twitching</option>
	 <option value="anal itching">anal itching</option>
	 <option value="osteolytic bone lesions of multiple myeloma">osteolytic bone lesions of multiple myeloma</option>
	 <option value="asystole">asystole</option>
	 <option value="tympanostomy tube placement surgery">tympanostomy tube placement surgery</option>
	 <option value="multiple endocrine adenomas">multiple endocrine adenomas</option>
	 <option value="0">birth control</option>
	 <option value="0">birth control</option>
​
	​

    </select>
    <br>
	
	<br>
	<input type="submit" value="Recommend">
</form>
</div>
</body>
</html>

